.container-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: teal;
}

.header-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;



}

.circle-progress {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  margin: 30px 0;
}

.header-order span {
  font-size: 1.8rem; /* Augmenté pour une meilleure lisibilité */
  color: white;
  margin-bottom: 15px;

}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  color: hotpink;
  cursor: pointer;
  transition: transform 0.3s ease; /* Transition pour effet de survol */
}

.close-button:hover {
  transform: scale(1.1); /* Effet de survol */
}

.progress-circle {
  display: none;
  width: 250px;
  height: 250px;
  position: relative;
  transition: all 0.5s ease; /* Transition pour les changements d'état */
}

.circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.circle:nth-child(1) {
  background-color: darkolivegreen;
  z-index: 3;
}

.circle:nth-child(2) {
  background-color: gray;
  z-index: 2;


}

.circle:nth-child(3) {
  background-color: teal;
  z-index: 1;

}

.inner-circle {
  width: 50%;
  height: 50%;
  border-radius: 50%;
  background-color: goldenrod;
  border: 5px solid white;
  position: absolute;
}

.validation,
.preparation,
.livraison {
  position: absolute;
  font-size: 1.2rem; /* Taille augmentée pour une meilleure visibilité */
  color: white;
}

.preparation {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


.validation {
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.livraison {
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*

*/

