.commande-form {
 text-align: center;
}
.total-amount {
  font-size: 2.2rem;
  font-weight: bold;
  margin: 10px 0;
}

.form-group-payment {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.form-group-payment label {
  font-size: 1em;
  width: 60%;

  font-weight: bold;
}
.form-group-payment label input {
  width: 50%;
  padding: 6px;
  font-size: 0.9rem;

  border-radius: 4px;
}




.form-group-info{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px auto;
}


.form-group-info label {

  font-size: 0.7em;
  margin-right: 10px;
  font-weight: bold;
}
.form-group-info input {
  width: 80%;
  padding: 6px;
  font-size: 0.9rem;
  border: 1px solid turquoise ;
  border-radius: 4px;
}
.form-group-info input.nomComplet {
  margin-right: 15px;
}
.form-group-info input.contact {
  margin-left: 15px;
}


.paiement-method {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 15px auto;
}


button.btn-confirm {
  margin-top: 10px;
  padding: 8px;
  background-color: #023a77;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  height: 36px; /* Adjust height to reduce vertical space */
  line-height: 1.2; /* Adjust line height for better text alignment */
}
button.btn-confirm:hover {
  background-color: #00183a;
}
button.btn-cancel {
  margin-top: 10px;
  padding: 8px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9rem;
  height: 36px; /* Adjust height to reduce vertical space */
  line-height: 1.2; /* Adjust line height for better text alignment */
}
button.btn-cancel:hover {
  background-color: #c82333;
}

button.panier-commande-btn {
    margin-top: 10px;
    padding: 8px;
    background-color: #023a77;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    height: 36px; /* Adjust height to reduce vertical space */
    line-height: 1.2; /* Adjust line height for better text alignment */
}

button.panier-commande-btn:hover {
    background-color: #00183a;
}













.modal-content {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}



.text-primary {
  color: #007bff !important;
}

.text-muted {
  color: #6c757d !important;
}



