.apropos-container {
  position: relative;
  padding: 80px 20px;
}

.apropos-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.apropos-content {
  position: relative;
  z-index: 2;

  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.apropos-header h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.table-auto {
  border-collapse: collapse;
  width: 100%;
}

.table-auto th,
.table-auto td {
  padding: 10px;
  border: 1px solid #ddd;
}

.apropos-image img {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
