.navbar {
   padding: 20px 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: white; /* Add a background color to ensure it is visible when fixed */
   transition: all 0.3s ease;
   z-index: 1000; /* Ensure the navbar stays on top */
}

.navbar.fixed {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

.navbar .logo {
   width: 150px;
}

.navbar-menu {
   display: flex;
   list-style: none;
   gap: 20px;
   color: palevioletred;
   font-size: 18px;
}

.navbar-right {
   display: flex;
   align-items: center;
   gap: 40px;
}

.navbar button {
   background: transparent;
   font-size: 16px;
   color: palevioletred;
   border: 1px solid turquoise;
   padding: 10px 30px;
   border-radius: 50px;
   cursor: pointer;
   transition: 0.3s;
}

.navbar button:hover {
   background-color: #fff4f2;
}

.navbar .active {
   padding-bottom: 2px;
   border-bottom: 2px solid turquoise;
}

.navbar li {
   cursor: pointer;
}
.navbar-right img {
   width: 3.5em ;

}

.navbar-search-icon {
   position: relative;

}

.navbar-search-icon img {
   /* rem */
   width:3.5em;
   cursor: pointer;
}

.navbar-search-icon .dot {
   position: absolute;
   padding: 5px;
   min-width: 10px;

   font-size: 10px;
   min-height: 10px;
   background-color: turquoise;
   border-radius: 5px;
   top: -8px;
   right: -8px;

}


.navbar-search-icon .dot:hover{
   cursor: pointer;
}




.login-button, .logout-button {
   background-color: #ff6b6b;
   color: white;
   border: none;
   padding: 5px 10px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.login-button:hover, .logout-button:hover {
   background-color: #ff4b4b;
}

.navbar-user {
   display: flex;
   align-items: center;
   gap: 10px;
}

.navbar-user span {
   font-weight: bold;
}


