.food-display {
    margin-top: 30px;
    padding: 0 15px;
}

.food-display-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

/* Grille adaptable avec des colonnes réactives */
.food-display-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); /* Auto-ajustement des colonnes */
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

/* Media Queries pour les différentes tailles d'écran */
@media (max-width: 1200px) {
    .food-display-list {
        grid-template-columns: repeat(3, 1fr); /* 3 colonnes pour les grands écrans */
    }
}

@media (max-width: 900px) {
    .food-display-list {
        grid-template-columns: repeat(2, 1fr); /* 2 colonnes pour les écrans moyens */
    }
}

@media (max-width: 600px) {
    .food-display-list {
        grid-template-columns: 1fr; /* 1 colonne pour les petits écrans */
    }
}
