.header1{
    height: 34vw;
    margin: 25px auto;
    background: url('/header_img.png') no-repeat;
    background-size: cover;
    position: relative;
    /* widget 100 %*/
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align : center;
    border-radius: 0 0 5% 5%;

 }

 .header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 40%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;

    margin-top: 100px;
    /* width: 100%; */

 }

 .header-contents h2{
    font-weight: 500;
    color : turquoise;
    /* turquoise en hex */
    color: #40E0D0;
    font-size: max(3.9vw, 22px);
 }

 .header-contents p{
    color : white;
    font-size: 1.1vw;
     text-align: left;
 /*    font jolie*/
    font-family: 'Josefin Sans', sans-serif;
 /*    italic*/
    font-style: italic;
 }

 .header-contents button{
    border: none;
    color : turquoise;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    cursor: pointer;
 }


/* Pour les petits écrans (mobiles) */
@media (max-width: 480px) {

}