@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400;700&display=swap');

/* Appliquer la police Roboto au corps du texte */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #333;
}

/* Appliquer la police Lobster aux titres principaux */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lobster', cursive;
  color: #f86c6b; /* Couleur personnalisée pour les titres */
}

/* Styles supplémentaires pour les titres */
h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.75em;
  margin-bottom: 0.5em;

}

span {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding: 0.5em 1em;
}
/* Styles pour les paragraphes */
p {
  margin-bottom: 1em;
}

/* Styles pour les liens */
a {
  color: #f86c6b;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #d9534f;
}

/* Styles pour les boutons */
button {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #f86c6b;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #d9534f;
}








.custom-navbar {
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-transparent {
  background-color: rgba(255, 255, 255, 0.5); /* Adjust the transparency as needed */
  transition: background-color 0.3s ease-in-out;
}

.navbar-toggler-icon {
  /*tomato*/
  background-color: #FF6347;
  color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.custom-navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.custom-navbar .brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  color: #fff;
}

.navbar-toggler-icon {
  background-color: #cccccc;
  color: #000000;

}
.custom-nav-link {
  color: #000; /* Couleur noire */
  font-weight: bold;
  margin-right: 20px;
  transition: color 0.3s ease-in-out;
}

.custom-nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
  color: #FF6347 !important; /* Couleur dorée au survol */
}

.navbar-sticky {
  background-color: #ffffff !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.custom-navbar .badge {
  background-color: #FF6347; /* Tomate */
  color: #fff;
  font-size: 0.8rem;
  vertical-align: text-top;
}

.custom-navbar .navbar-toggler {
  border-color: #fff; /* Bordure blanche pour le toggle */
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



.custom-header {
    background-color: #f8f9fa; /* Light gray background */
  text-align: center;
}












/* Styles for the loading container */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; /* Light gray background */
}

/* Styles for the spinner */
.spinner {
  width: 100px;
  height: 100px;
  border: 10px solid #e0e0e0; /* Light gray border */
  border-top: 10px solid #007bff; /* Blue border on top */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animation for the spinner */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



/*//panier*/

/* Panier Container */
.panier {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /*width: 90%;*/
  /*max-width: 600px;*/
  /*margin: auto;*/
  /*padding: 20px;*/
  /*position: relative;*/

}

/* Panier Header */
.panier-header {
  /*display: flex;*/
  /*justify-content: space-between;*/
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  /*margin-bottom: 20px;*/
}

.panier-header h2 {
  font-size: 1.8em;
  color: #333;
  margin: 0;
}

.panier-header button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.panier-header button:hover {
  background-color: #0056b3;
}

 /*Panier Content*/
.panier-content {
  max-height: 400px;
  overflow-y: auto;
  padding-right: 10px;
}

.panier-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.panier-item-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 20px;
}

.panier-item-details {
  flex-grow: 1;
}

.panier-item-name p {
  margin: 5px 0;
  font-size: 1.1em;
  color: #333;
}

.panier-item-price {
  font-weight: bold;
  font-size: 1.2em;
  color: #007bff;
}

.panier-item-quantite {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.panier-item-quantite img {
  cursor: pointer;
}

.panier-item-quantite p {
  margin: 0 15px;
  font-size: 1.5em;
}

/*!* Panier Footer *!*/
.panier-footer {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;
  text-align: center;
}

.panier-footer button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.panier-footer button:hover {
  background-color: #218838;
}

.panier-footer button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



/*custon container*/

.custom-container {
    max-width: 1200px;
    margin: 60px auto 15px;
    padding: 0 20px;
}


.custom-nav-link-cart{
    color: #000; /* Couleur noire */
    font-weight: bold;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: color 0.3s ease-in-out;
}


.custom-nav-link-btn {
    /*tomato*/
    background-color: #FF6347;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 2px 2px;
    font-weight: bold;
    margin-right: 20px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: color 0.3s ease-in-out;
}
