.custom-navbar {
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-color: #cccccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar-toggler-icon {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.custom-navbar .navbar-brand {
  display: flex;
  align-items: center;
}

.custom-navbar .brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 10px;
  color: #fff;
}

.navbar-toggler-icon {
  background-color: #cccccc;
  color: #000000;

}
.custom-nav-link {
  color: #000; /* Couleur noire */
  font-weight: bold;
  margin-right: 20px;
  transition: color 0.3s ease-in-out;
}

.custom-nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
  color: #FF6347 !important; /* Couleur dorée au survol */
}

.navbar-sticky {
  background-color: #ffffff !important;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.custom-navbar .badge {
  background-color: #FF6347; /* Tomate */
  color: #fff;
  font-size: 0.8rem;
  vertical-align: text-top;
}

.custom-navbar .navbar-toggler {
  border-color: #fff; /* Bordure blanche pour le toggle */
}

.custom-navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



.custom-header {
  background-color: #40E0D0; /* Couleur Turquoise */
  color: #fff;

  text-align: center;
}
